/*** LTR websites ***/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Brando_Arabic";
  font-weight: normal;
  direction: ltr;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
}

ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Brando_Arabic";
  src: url("../fonts/BrandoArabicSemiBold.eot");
  src: url("../fonts/BrandoArabicSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandoArabicSemiBold.woff2") format("woff2"), url("../fonts/BrandoArabicSemiBold.woff") format("woff"), url("../fonts/BrandoArabicSemiBold.ttf") format("truetype"), url("../fonts/BrandoArabicSemiBold.svg#BrandoArabicSemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brando_Arabic";
  src: url("../fonts/BrandoArabicLight.eot");
  src: url("../fonts/BrandoArabicLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandoArabicLight.woff2") format("woff2"), url("../fonts/BrandoArabicLight.woff") format("woff"), url("../fonts/BrandoArabicLight.ttf") format("truetype"), url("../fonts/BrandoArabicLight.svg#BrandoArabicLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brando_Arabic";
  src: url("../fonts/BrandoArabicRegular.eot");
  src: url("../fonts/BrandoArabicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandoArabicRegular.woff2") format("woff2"), url("../fonts/BrandoArabicRegular.woff") format("woff"), url("../fonts/BrandoArabicRegular.ttf") format("truetype"), url("../fonts/BrandoArabicRegular.svg#BrandoArabicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brando_Arabic";
  src: url("../fonts/BrandoArabicBold.eot");
  src: url("../fonts/BrandoArabicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandoArabicBold.woff2") format("woff2"), url("../fonts/BrandoArabicBold.woff") format("woff"), url("../fonts/BrandoArabicBold.ttf") format("truetype"), url("../fonts/BrandoArabicBold.svg#BrandoArabicBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.btn {
  padding: 8px 25px;
}
.btn-primary {
  background: red;
}
.btn-primary {
  background-color: #8D0034;
  border-color: #8D0034;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  background-color: #D78542;
  border-color: #D78542;
}
.btn-secondary {
  background-color: #344C60;
  border: #344C60;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
  background-color: #D78542;
  border-color: #D78542;
}
.btn__login {
  border: 1px solid #8D0034;
  color: #8D0034;
}
.btn__login:hover, .btn__login:focus, .btn__login.focus {
  border-color: #D78542;
  color: #D78542;
}
.btn__login, .btn__account {
  margin: 0 0 0 15px;
}
.btn__search {
  background: url(../images/search.png) right center no-repeat;
  width: auto;
  height: 25px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 20px;
  padding: 0 45px 0 0;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 200ms;
  transition: -webkit-filter 200ms;
  transition: filter 200ms;
  transition: filter 200ms, -webkit-filter 200ms;
}
.btn__search:hover {
  text-decoration: none;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  color: #8D0034;
}
.btn__user {
  border: 1px solid #E2E2E2;
  background: #ffffff url(../images/user.png) center center no-repeat;
  text-indent: -9999px;
  text-align: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0 0 15px;
}
.btn__language {
  margin: 0 20px 0 10px;
}
.btn__language > span {
  cursor: pointer;
  border: 1px solid #E2E2E2;
  background: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn__language > span img {
  margin: 0;
  padding: 0;
  display: block;
}
.btn__language__drop-down {
  border: 0;
  padding: 5px 0;
  min-width: 120px;
  background-color: #DA2A5C;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px #0006;
  box-shadow: 0 0 30px #0006;
  margin-top: 10px;
}
.btn__language__drop-down :after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #DA2A5C;
  border-width: 10px;
  margin-left: -10px;
}
.btn__language__drop-down li span {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}
.btn__language__drop-down li a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  padding: 5px 10px;
}
.btn__language__drop-down li a:hover {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
}
.btn__banner {
  min-width: 220px;
  margin: 0 5px;
  padding: 11px 25px;
  position: relative;
  overflow: hidden;
  border: 0;
  font-size: 19px;
  font-weight: 600;
}
.btn__banner span {
  position: relative;
  z-index: 1;
}
.btn__banner:after {
  top: -180%;
  left: -30%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  z-index: 0;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.btn__banner:hover {
  background: #8D0034;
  color: #8D0034;
}
.btn__banner:hover:after {
  height: 401%;
  width: 150%;
}
.btn__subscribe {
  color: #ffffff;
  background: #B79769;
  font-weight: 600;
}
.btn__events {
  border-bottom: 1px solid #C4C4C4;
  font-weight: 600;
  color: #8D0034;
  font-size: 16px;
}
.btn__success {
  border: 2px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  padding: 8px 55px 8px 25px;
}
.btn__success:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../images/succes_arrow.png) center center no-repeat;
  right: 20px;
  top: 15px;
}

.keysector__nav .slick-arrow {
  position: absolute;
  display: block;
  top: 70px;
  padding: 0;
  width: 28px;
  height: 53px;
  opacity: 1;
  z-index: 5;
  border: 0;
  text-indent: -9999px;
  -webkit-transition: opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease, -webkit-transform 0.4s ease;
}

.keysector__nav .slick-prev {
  left: -90px;
  background: url(../images/key_arrow.png) no-repeat center center;
}

.keysector__nav .slick-next {
  right: -90px;
  background: url(../images/key_arrow.png) no-repeat center center;
  -webkit-transform: scalex(-1);
          transform: scalex(-1);
}

.container {
  max-width: 1320px;
  border: 0px solid green;
}
.header__holder .container {
  max-width: 100%;
  margin: 0 40px;
  width: auto;
}

body {
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  width: 750px;
  height: 750px;
  right: 0;
  top: 0;
  background: url(../images/bg_box.png) center center no-repeat;
}

.main__content {
  max-width: 100%;
  overflow: hidden;
}

.nav-socialmedia {
  position: fixed;
  bottom: 21%;
  left: 50px;
  padding: 0 0 10px;
}
.nav-socialmedia nav {
  max-height: 167px;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 20px 0 0;
}
.nav-socialmedia.show nav {
  max-height: 400px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.nav-socialmedia a {
  margin: 0 auto 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CA584B;
  border: 1px solid #F8DBD7;
  font-size: 18px;
}
.nav-socialmedia a i {
  line-height: 10px;
}
.nav-socialmedia a:hover {
  background-color: #CA584B;
  border-color: #CA584B;
  color: #ffffff;
  text-decoration: none;
}
.nav-socialmedia span {
  display: block;
  margin: 0 auto 10px;
  width: 40px;
  height: 40px;
  background-color: #FDF6F6;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CA584B;
  font-size: 15px;
  cursor: pointer;
}
.nav-socialmedia span:hover {
  background-color: #CA584B;
  color: #ffffff;
  text-decoration: none;
}
.nav-socialmedia.show span {
  background-color: #CA584B;
  color: #ffffff;
}
.nav-socialmedia.show span i {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__holder {
  border-top: 3px solid #8D0034;
  position: relative;
  padding: 30px 0;
}
.header__holder:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: #344C60;
  left: 0;
  top: -3px;
}
.header__logo {
  margin: 0 60px 0 0;
}
.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__nav > ul li {
  padding: 0 10px;
}
.header__nav > ul li a {
  font-size: 20px;
  color: #000000;
  padding: 0 10px;
}
.header__nav > ul li a:hover {
  text-decoration: none;
  color: #8D0034;
}
.header__nav > ul li.dropdown > a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 13px;
  height: 10px;
  background: url(../images/icon_arrow.png) center center no-repeat;
  right: -15px;
  top: -2px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
.header__nav > ul li.dropdown:hover > a::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.footer {
  min-height: 300px;
  background: #344C60;
}
.footer__top {
  padding: 60px 0 60px;
  background: url(../images/footer_pattern.png) right top no-repeat;
}
.footer__top h2 {
  color: #ffffff;
  max-width: 370px;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  line-height: 1.2;
  margin-bottom: 40px;
}
.footer__top h2:after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background: url(../images/footer_logo.png) right top no-repeat;
  left: -90px;
  top: 7px;
}
.footer__top h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer__menu {
  margin-bottom: 30px;
}
.footer__menu li {
  margin: 0 0 5px;
}
.footer__menu a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 300;
}
.footer__menu a:hover {
  color: white;
}
.footer__form {
  max-width: 320px;
}
.footer__form input {
  height: 45px;
  border: 0 none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 5px;
  max-width: 312px;
}
.footer__form input:focus {
  background: none;
  outline: none;
}
.footer__form input::-webkit-input-placeholder {
  color: #ffffff;
}
.footer__form input::-moz-placeholder {
  color: #ffffff;
}
.footer__form input:-ms-input-placeholder {
  color: #ffffff;
}
.footer__form input:-moz-placeholder {
  color: #ffffff;
}
.footer__form p {
  color: #C2C9CF;
  font-size: 14px;
}
.footer__form p a {
  color: #B79769;
  text-decoration: underline;
}
.footer__bottom {
  background: #1D2E3D;
  padding: 20px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social a {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.61);
  background: rgba(0, 0, 0, 0.22);
  margin: 0 0 0 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.footer__social a:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.footer .copyright {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.banner__holder {
  position: relative;
  margin: 0 40px;
}
.banner__holder img {
  width: 100%;
  display: block;
}
.banner__item {
  max-width: 1650px;
  margin: 0 auto;
  position: relative;
}
.banner__item figure {
  position: relative;
  z-index: 1;
}
.banner__item figure:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
  left: 0;
  top: 0;
}
.banner__item figure:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background: url(../images/banner_box.png) right top no-repeat;
  right: -1px;
  top: 0;
  opacity: 0.5;
  mix-blend-mode: soft-light;
}
.banner__text {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 2;
}
.banner__text h2 {
  color: #ffffff;
  max-width: 450px;
  padding: 0;
  margin: 0 0 10px;
  font-size: 54px;
  font-weight: 300;
  line-height: 1.2;
}
.banner__text p {
  max-width: 540px;
  font-size: 22px;
  padding: 20px 0 50px;
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
}
.banner__text p b {
  font-weight: 600;
}

.home__rank {
  position: relative;
  margin-top: -95px;
  background: #ffffff;
  text-align: center;
  padding: 60px 0 40px;
}
.home__rank__items {
  max-width: 195px;
  margin: 0 20px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.home__rank__items h3 {
  font-size: 53px;
  font-weight: 600;
  color: #344C60;
}
.home__rank__items h3 sup {
  font-size: 20px;
  font-weight: normal;
}
.home__rank__items strong {
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  line-height: 1.4;
  min-height: 40px;
}
.home__rank__items span {
  display: block;
  font-size: 14px;
  color: #636363;
  line-height: 1.2;
}
.home__rank__holder {
  position: relative;
  margin: 5px 0;
}
.home__keysector h2 {
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #8D0034;
  margin: 0 0 30px;
  font-size: 24px;
}
.home__keysector h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E2E2E2;
  left: 0;
  top: 50%;
}
.home__keysector h2 span {
  background: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}
.home__keysector__top {
  height: 250px;
}
.home__keysector__items {
  margin: 10px 15px 0;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
  cursor: pointer;
}
.home__keysector__items:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_5.png) bottom left no-repeat;
}
.home__keysector__items.bg1:before {
  background: url(../images/bg_1.png) bottom left no-repeat;
}
.home__keysector__items.bg2:before {
  background: url(../images/bg_2.png) bottom left no-repeat;
}
.home__keysector__items.bg3:before {
  background: url(../images/bg_4.png) bottom left no-repeat;
}
.home__keysector__items.bg4:before {
  background: url(../images/bg_5.png) bottom left no-repeat;
}
.slick-center .home__keysector__items {
  margin: -5px 0 0;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.slick-center .home__keysector__items h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
}
.slick-center .home__keysector__items::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -11px;
  margin-right: -20px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 20px 0 20px;
  border-color: #0b1014 transparent transparent transparent;
}
.slick-center .home__keysector__items.bg1:after {
  border-color: #693f56 transparent transparent transparent;
}
.slick-center .home__keysector__items.bg2:after {
  border-color: #8d0135 transparent transparent transparent;
}
.slick-center .home__keysector__items.bg3:after {
  border-color: #b79769 transparent transparent transparent;
}
.home__keysector__items img {
  max-width: 100%;
  width: 100%;
  display: block;
}
.home__keysector__items h3 {
  position: absolute;
  width: 100%;
  padding: 0 10%;
  bottom: 20px;
  font-size: 18px;
  text-align: center;
  left: 0;
  color: #ffffff;
  z-index: 2;
  line-height: 1.2;
}
.home__keysector__bottom {
  border: 0px solid red;
  margin: 20px 0 30px;
}
.home__keysector__left h4 {
  position: relative;
  font-weight: 600;
  color: #8D0034;
  margin: 0 0 30px;
  font-size: 24px;
}
.home__keysector__left__items {
  color: #000000;
  text-align: center;
}
.home__keysector__left__items h5 {
  color: #CA584B;
  font-size: 62px;
  text-align: center;
}
.home__keysector__left__items h5 sub {
  font-size: 20px;
  color: #344C60;
}
.home__keysector__review {
  background: url(../images/review_bg.png) top right no-repeat;
  margin: 50px 0 0 60px;
}
.home__keysector__review figure {
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.home__keysector__review p {
  font-size: 16px;
  line-height: 1.4;
}
.home__keysector__review h5 {
  font-weight: 600;
  color: #CA584B;
  margin: 0 0 20px;
  font-size: 18px;
}
.home__keysector__review h5 span {
  font-weight: normal;
  color: #515151;
  font-size: 14px;
  padding: 0 0 0 15px;
}
.home__help {
  margin: 40px 0;
}
.home__help h2 {
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #8D0034;
  margin: 0 0 30px;
  font-size: 24px;
}
.home__help__item {
  padding: 0 5px;
  width: 200px;
  margin: 10px 0;
  text-align: center;
}
.home__help__item__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
}
.home__help__item__holder img {
  margin: 0 0 30px;
}
.home__help__item__holder h5 {
  color: #344C60;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home__help__item__holder p {
  color: #344C60;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.4;
}
.home__success {
  background: #344C60 url(../images/succeesstory.png) center center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px 0 60px;
  height: 200px;
  position: relative;
  margin: 30px 0;
}
.home__success:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 63px;
  border-color: transparent transparent #ffffff transparent;
}
.home__success p {
  font-size: 25px;
  line-height: 1.4;
  font-weight: 600;
  max-width: 300px;
  color: #ffffff;
}
.home__business {
  margin: 40px 0;
}
.home__business h2 {
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #8D0034;
  margin: 0 0 30px;
  font-size: 24px;
}
.home__business ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home__business ul li {
  padding: 0 15px;
  border-radius: 70px;
  border: 1px solid #E9E9E9;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.home__events {
  padding: 40px 0;
}
.home__events h2 {
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #8D0034;
  margin: 0 0 30px;
  font-size: 24px;
}
.home__events__subheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}
.home__events__subheading h3 {
  position: relative;
  font-weight: bold;
  color: #344C60;
  margin: 0;
  font-size: 24px;
}
.home__events__item figure {
  margin: 0 0 20px;
}
.home__events__item h5 {
  color: #D78542;
  font-size: 16px;
  margin: 0 0 20px;
}
.home__events__item h5 a {
  color: #D78542;
}
.home__events__item p {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 1.4;
}
.home__events__date {
  margin: 0 0 20px;
  font-size: 15px;
  display: block;
}
.home__events__tag {
  border: 1px solid #ECECEC;
  background: #F1F1F1;
  border-radius: 2px;
  padding: 5px 10px;
  line-height: 1;
  font-size: 16px;
  color: #8D0034;
  display: inline-block;
  margin: 0 5px 0 0;
}
.home__events__tag img {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
}
.home__events__tag:hover {
  background: none;
}
.home__article__item {
  border-top: 1px solid #F0F0F0;
  margin: 0 0 20px;
  padding: 20px 0 0;
}
.home__article__item:first-child {
  border: 0;
}
.home__article__item h5 {
  color: #D78542;
  font-size: 16px;
  margin: 0 0 20px;
}
.home__article__item h5 a {
  color: #D78542;
}
.home__article__item p {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 1.4;
}

.keysector__nav .slick-list {
  padding-top: 15px !important;
  padding-bottom: 23px !important;
}