// font 
$font-stack-1: 'Brando_Arabic';
$font-stack-2: NeoSansArabic;
$font-stack-3: Neo-Sans-light;

$font-primary: 'Montserrat';
$font-secondary: 'Rage'; 

// Colors
$primary-color: #cb0505;
$secondary-color: #c1edf7;
$white-color: #ffffff;
$black-color: #000000; 
$grey-color: #ebebeb;
$grey-color-1: #959595;



$text-black: #24272f;
$text-grey: #4c4e53;
$text-grey1: #a3a3a3;
$text-grey2: #787878;

$grey-border: #e1e1e1;

