.about { 
    position: relative;

    .common__text p {
        font-weight: 400;
    }

    &-one { 
        position: relative;
        margin: 50px auto 150px;

        .img-1 {
            position: absolute;
            left: 106%;
            top: 0;
        }

        .img-2 {
            position: absolute;
            right: 100%;
            bottom: -400px;
            margin-right: -120px;
        }
    }

    &-two { 
        background: url(../images/placeholder/about-3.png) no-repeat right center;
        min-height: 700px;
        display: flex;
        align-items: center;
        margin: 50px auto 100px;

        h4 {
            font-weight: bold;
            line-height: 2;
            font-size: 43px;
            background: $white-color;
            max-width: 69%;
            border-radius: 40px;
            padding: 30px;
            min-height: 370px;
            display: flex;
            align-items: center;
        }
    }

    &-three { 
        margin: 50px auto 100px;
    }

    &-four { 
        margin: 50px auto 100px;

        &__item {
            &:nth-child(2) {
                margin-top: 100px;
            }

            & figure {
                display: block; 
                position: relative;
                display: inline-block;
                border-radius: 100%;
                max-width: 260px;
                margin-bottom: 30px;
                background: #ebe7e8;

                img {
                    max-width: 100%;
                }
            }

            & h5 {
                font-weight: bold;
                font-size: 27px;
                line-height: 1.2;
                margin-bottom: 20px;
            }

            & h6 {
                font-weight: bold;
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 20px;
            }

            & p {
                font-weight: 400;
                font-size: 22px;
                line-height: 1.5;
                margin-bottom: 20px;
            }
        }
    }

    &-five { 
        margin: 50px auto 100px;

        &__text {
            position: relative;
            z-index: 2;
        }

        & p {
            font-weight: 400;
            font-size: 22px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        &__slider {
            position: relative; 
            &::after {
                content: "";
                position: absolute; 
                top: 0;
                width: 100%;
                height: 100%;
                background: $white-color;
                right: 100%;
            }

            .slick-prev, .slick-next {
                position: absolute;
                bottom: 30px;
                text-indent: -9999px;
                border: 0px;
                width: 49px;
                left: -281px;
                z-index: 10;
                height: 49px;
                filter: brightness(1);
                top: auto;
                right: auto;
                border-radius: 49px;
                background: $primary-color url(../images/icons/kitchen-arrow.png) no-repeat center center;

                &:hover {
                    filter: brightness(1);
                    background: $black-color url(../images/icons/kitchen-arrow.png) no-repeat center center;
                }
            }

            .slick-next {
                margin-left: 60px;
            }

            .slick-list {
                overflow: visible;
            }

            &__item { 
                margin: 0 20px;
                border-radius: 80px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }
}