.banner {

    &__holder {
        position: relative;

        & img {
            width: 100%;
            display: block;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        } 
                
        .slick-dots {
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
            bottom: 25px;
            #{$start-direction}: 0; 

            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 15px;

                @media (max-width: 767px) {  
                    margin: 0 10px;        
                }

                button {
                    display: inline-block;
                    vertical-align: middle;
                    height: 13px;
                    width: 13px;
                    border-radius: 22px;
                    background: rgba($color: $black-color, $alpha: 0.38);  
                    text-indent: -9999px; 
                    border: 0;

                    @media (max-width: 767px) {  
                        height: 12px;
                        width: 12px;        
                    }
        
                    &:hover {
                        background:rgba($color: $black-color, $alpha: 0.6);   
                    }
                }
        
                &.slick-active button {
                    height: 22px;
                    width: 22px;
                    background: rgba($color: $black-color, $alpha: 1);   
                    opacity: 1;

                    @media (max-width: 767px) {  
                        height: 12px;
                        width: 12px;        
                    }
                }
            }
        }
    }

    &__item {
        position: relative;
        overflow: hidden;

        & > figure {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            height: 100%;
            overflow: hidden;
            width: 100%;         
        }
    }

    &__img {
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end; 

        @media (max-width: 767px) {  
            display: none;              
        }

        & img {
            width: auto;
            display: inline-block;
            vertical-align: bottom;
            margin: 0 0 0 -40px; 
        }
    }

    &__content {
        //min-height: 500px; 
        position: relative;
        z-index: 2;
        padding-top: 250px;

        @media (max-width: 1320px) {   
            padding-top: 200px;      
        }

        @media (max-width: 767px) {
            padding-top: 150px;                  
        }

        @media (max-width: 575px) {  
            padding-top: 120px; 
        }
        
        h2 {
            color: $black-color;
            text-align: center;
            padding: 0;
            margin: 0 0 40px;
            font-size: 29px;
            font-weight: 500;
            line-height: 1.6;

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 1.2;
                margin: 0 0 20px;                                
            }

            & strong {
                font-weight: bold;
                display: block;
            }
        }         
    }

    &__form {
        margin: 0 0 90px;

        @media (max-width: 767px) {   
            margin: 0 0 70px;   
        }

        &__holder {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .form-group {
            margin-bottom: 30px;

            @media (max-width: 767px) {
                margin-bottom: 18px;                               
            }
        }

        input {
            height: 58px;
            border: 0 none;
            @include corners(60px);
            background: $white-color;
            color: $black-color;
            font-size: 16px;
            font-weight: 500;
            padding: 5px 40px;
            width: 100%;

            @media (max-width: 767px) {
                height: 45px;     
                padding: 5px 20px;                         
            }
             
            &::-webkit-input-placeholder { 
                color: $black-color;
            }

            &::-moz-placeholder { 
                color: $black-color;
            }

            &:-ms-input-placeholder { 
                color: $black-color;
            }

            &:-moz-placeholder { 
                color: $black-color;
            }
        }
    }

    &__inner {
        position: relative;
        overflow: hidden; 

        & h2 {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 80px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border-radius: 0 0 340px 200px;
            transform: skewY(7deg);   
            box-shadow: 0px 0px 0px 300px $white-color;

            transform-origin: right bottom;
            z-index: 2;         
        }
    }

    
    &__profile { 
        background: url(../images/placeholder/profile-banner.png) no-repeat right bottom;
        padding: 200px 0 50px;
        margin-bottom: 40px;
        min-height: 85vh; 
        display: flex;
        align-items: center;

        h2 {
            font-size: 73px;
            line-height: 1.5;
            font-weight: normal;
            max-width: 500px;
            color: $black-color;

            strong {
                font-weight: bold;
            }
        }

    }



}