.food {
    &__select {
        text-align: center;
        background: $white-color;
        border-radius: 50px;
        min-height: 330px;
        padding: 0 0 20px;
        margin: 70px 0 0;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 5%);

        @media (max-width: 767px) {    
            min-height: auto;  
            border-radius: 20px;  
            margin: 50px 0 0;     
        }

        &.small {
            min-height: 280px;

            figure {
                top: -30px;
                margin-top: -30px;
            }

            @media (max-width: 767px) {    
                min-height: 200px;     

                figure {
                    top: -15px;
                    margin-top: -15px;
                }
            }
        }

        figure {
            display: block;
            top: -60px;
            position: relative; 
            display: inline-block;
            border-radius: 100%;
            background: $white-color;            

            @media (max-width: 767px) {    
                max-width: 80%;  
                top: -40px;          
            }           

            img {
                display: block;
                max-width: 100%;
            }

            &.with-shadow {
                box-shadow: 10px 18px 30px rgba($color: #000000, $alpha: .5);                
            }
        }

        & label {
            display: block;
            font-weight: 600;
            font-size: 25px;
            margin: 0 auto 5px;
            min-height: 70px;
            max-width: 80%;
            text-align: center;

            @media (max-width: 767px) {    
                font-size: 15px; 
                min-height: auto;         
            }
        }

        & span {
            display: block;
            font-weight: 500;
            font-size: 25px;
            color: $primary-color;

            @media (max-width: 767px) {    
                font-size: 15px;      
            }
        }
    }
}