.btn {
    font-weight: 600;

    &__login {
        color: $white-color;
        background: $primary-color;
        @include corners(30px);
        //@include redShadow(rgba($color: #000000, $alpha: 1.0));
        box-shadow: 0px 19px 28px rgba($color: #ff3333, $alpha: .36);
        font-weight: 600;
        font-size: 22px;
        @include hoverAnim(600);
        padding: invertValues(13px, 25px, 13px, 30px);
        line-height: 1;
        margin: invertValues(0, 0, 0, 15px);
        
        i {
            font-size: 17px;
            vertical-align: baseline;
            padding: invertValues(0, 15px, 0, 0);
        }

        &:hover {
            background: $black-color;
            color: $white-color;
        }
    }

    &__started {
        color: $white-color;
        background: $primary-color;
        @include corners(30px);
        box-shadow: 0px 19px 28px rgba($color: #ff3333, $alpha: .36);
        font-weight: 600;
        font-size: 20px;
        @include hoverAnim(600);
        padding: 12px 0;
        line-height: 1;
        margin: 0 auto;
        display: block;
        max-width: 180px;
        
        i {
            font-size: 17px;
            vertical-align: baseline;
            padding: invertValues(0, 15px, 0, 0);
        }

        &:hover, &:focus {
            background: $black-color;
            color: $white-color;
        }
    }

    &-primary {
        @include corners(30px);
        background: $primary-color;
        border-color: $primary-color;

        &:hover {
            background: $black-color;
            border-color: $black-color;
            color: $white-color;
        }

        &:focus {
            background: $primary-color;
            border-color: $primary-color;
        }
    }

    &-lg {
        padding: 1rem 1.6rem;
        font-size: 20px;
        line-height: 1.5;
    }

    &__shadow-red {
        box-shadow: 0px 19px 28px rgba($color: #ff3333, $alpha: .36);
    }
}