.footer {
    padding-top: 70px;
    padding-bottom: 40px;

    @media (max-width: 767px) {   
        padding-top: 20px;
        padding-bottom: 20px;             

        & h3 {
            font-size: 20px;
        }
    }

    &__form {
        margin: 0 auto 100px;
        height: 90px;
        max-width: 715px;
        box-shadow: 0px 0px 40px rgba($color: #000000, $alpha: .08);

        @media (max-width: 991px) {                 
            margin: 0 auto 40px;
        }

        @media (max-width: 767px) {    
            height: 45px;       
            margin: 0 auto 20px;     
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center; 
            height: 100%;

            .form-control {
                border: 0 none;
                margin: invertValues(0, 20px, 0, 40px);
                font-size: 30px;
                color: $text-grey;

                @media (max-width: 991px) {              
                    font-size: 20px;
                    margin: invertValues(0, 10px, 0, 20px);
                    padding: 0;
                }
            }

            .btn__footer-form {
                margin: invertValues(0, 30px, 0, 20px);
                background: url(../images/icons/footer-btn.png) no-repeat center center;
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                line-height: 10px;
                text-align: left;
                width: 40px;
                height: 40px;
                @include hoverAnim(300);

                &:hover {
                    filter: grayscale(100%) brightness(0);
                }
            }
        }
    }

    &__nav {
        margin-bottom: 60px;

        @media (max-width: 991px) {                 
            margin-bottom: 20px;
        }

        @media (max-width: 575px) {  
            margin-bottom: 0;  
        }

        a {
            font-size: 21px;
            color: $black-color;
            padding: 0 10px;
            font-weight: 600;

            @media (max-width: 767px) {    
                font-size: 18px;   
            }

            @media (max-width: 575px) {  
                font-size: 12px;   
            }

            &:hover {
                color: $primary-color;
            }
        }
    }

    &__copyright {
        font-size: 25px;
        color: $black-color;
        font-weight: 300;
        color: $text-grey1;               
        padding: 40px 0 40px;

        @media (max-width: 991px) {              
            padding: 20px 0;
            font-size: 15px;
        }

        @media (max-width: 575px) {  
            font-size: 12px;             
            padding: 20px 0;
        }
    }
}